body {
    background: #39B549;
}

.container {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.tittle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;

    color: #FFFFFF;
}

.subtittle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;

    color: #FFFFFF;
}

.input-title {
    font-family: Montserrat;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    margin-left: 5px;
    color: #FFFFFF;
}

.form-control {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    background: #F4F4F4;
    border-radius: 10px;
}

.form-group {
    text-align: left;
    width: 100%;
    margin: 20px;
}

.enviar {
    margin: 20px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: inline;
    width: 100%;
    height: 60px;
    color: black;
    background: #F2F470;
    border-radius: 10px;
}

.cadastrar{
    margin: auto;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    height: 60px;
    color: black;
    background: #FFFFFF;
    border-radius: 20px;
}

.login{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login .combo-button{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

